body{
    font-family: Arial, Helvetica, sans-serif;
}

/* TicTacToe */

#tttField{
    margin-left: auto;
    margin-right: auto;
}

#score{
    font-size: 1.5em;
    text-align: center;
}

/* Headings */

h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
}

#intro{
    text-align: center;
}

/* Buttons */

.tttButton{
    height: 5em;
    width: 5em;
    font-size: 3em;
}